body {
  line-height: 1;
  font-family: $font;
  background-color: white;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 160px;
}
